header{
    display: flex;
    flex-direction: row;
}

.suspender-inscrições{
    display: flex;
    flex-direction: row;
    background-color:#FF6600;
    gap:10px;
    width: 194px;
    height: 32px;
    justify-items: center;
    border-radius: ;

}

.suspender-inscrições p{
    color:#FEFEFE;
}