body{
    font-family: "Roboto", sans-serif;
    
  }


header{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #E5E7EB;
    width: 1440px;
    padding: var(--spacing-spacing-base, 16px) var(--spacing-spacing-lg, 32px);
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
}

.suspender-inscrições{
    display: flex;
    flex-direction: row;
    background-color:#FF6600;
    gap:10px;
    width: 194px;
    height: 32px;
    border-radius: 4px;
    padding-left:10px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
    padding: 4px 16px;
    justify-content: center;
    
}

.suspender-inscrições p{
    color:#FEFEFE;
  
}

.suspender-inscrições img{
    padding-left: 10px;
}

.progress-container {
    position: relative;
    width: 32px;
    height: 32px;
}

.anel {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;

}

.anel img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.usuario-clayton{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:16px;

}

.circulo {
    position: absolute;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
}

.background {
    stroke: #e0e0e0; /* Cor do círculo de fundo */
}

.progress {
    stroke: #f78b2d; /* Cor da barra de progresso */
    stroke-dasharray: 88; /* Perímetro do círculo */
    stroke-dashoffset: 60; /* Define a porcentagem preenchida */
    transition: stroke-dashoffset 0.5s ease;
}

.itens-usuario{
    display:flex;
    
}

.dashboard{
    display: flex;
    flex-direction: row;
    width:167px;
    height:44px;
}

.bloco-azul{
    width: 44px;
    height: 44px;
}

.bloco-azul:hover{
    background-color: #F2F9FD;
}

.dashboard:hover{
    background-color: #F2F9FD;
}

.bloco-azul:active{
    background-color: #0D5EAF;

}

.dashboard:active{
    background-color: #F2F9FD;
}

.bloco-azul a:active{
    color:#FFFF;

}


.bloco-azul img{
    margin:10px;
    width: 24px;
    height: 24px;
}

.nome-dashboard{
    margin:10px;
    display: flex;
    align-items: center;
    color:#0D5EAF;
}

.ajustes{
    display:flex;
    flex-direction: row;
}

.configurações-sair{
    border-top: solid 1px #E7EBF2;
    width: 167px;
    height: 128px;
    margin-top:600px;
    margin-bottom:20px;
  
}

.container1{
    width:215px;
    height:1,101px;
    border-right: solid 1px #E5E7EB;
}

.container2{
    margin-left:40px;
    margin-right:19px;
}

.seta{
    margin-left:150px;
    margin-top:8px;
    margin-right: 20px;


}

.titulo{
    gap:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 402px;
    height:61px;

}

.titulo img{
    width: 22px;
    height: 22px;
    margin-top: 20px;
}

.subtitulo{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.itens-subtitulo{
    display: flex;
    align-items: center;
    gap:5px;
}

.informações{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.editar{
    display:flex;
    flex-direction: row;
    background-color:#F2F9FD;
    width:101px ;
    height: 36px;
    margin-top:20px;
    align-items: center;
    padding-left:20px;
    gap:8px;
    border-radius:5px;
}

.parte-cima{
    display:flex;
    flex-direction: row;
    gap:200px;
}

.quadrado{
    background-color:#F2F9FD;
    width: 251px;
    height: 150px;
    border-radius:8px;
    height: 150px;
    padding: 12px 16px 24px 16px;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;

}

.texto-azulado{
    color:#2E96C9;
    line-height: 0;
   
}

.texto-escuro{
    color: #374151;
    font-family: Archivo;
    font-size: 32px;
    margin-bottom: 8px;

}

.dois-itens{
    display: flex;
    align-items: center;
    gap: 8px;
}

.dois-itens p{
    color:#2E96C9;
    font-family: Inter;
}

.quadrado-itens{
    display:flex;
   
    gap:30px;
    justify-content: space-between;
}

.quadrados{
    display:flex;
    flex-direction:row;
    gap:30px;
}

.numero{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.numero-azul{
    color:#2E96C9;
}

.mais-rs{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    color:#2E96C9;
}

.titulo-funçoes{
    display: flex;
    gap:5px;
    align-items: center;
}

.rapidas{
    color:#494E54;
}

.quadrado-funções{
    display: flex;
    min-width: 110px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #2E96C9;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(15, 54, 121, 0.15);
 
}

.quadrado-pontilhado{
    display: flex;
    min-width: 110px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed #90CAE9;
    background: #FCFCFC;

}

.quadrado-pontilhado img{
    margin-top: 20px;
}

.quadrado-pontilhado p{
    color:#2E96C9;
}

.quadrados-funcoes{
    display:flex;
    flex-direction: row;
    gap:24px
}

.titulo-ultimas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px
}

.titulo-total{
    display:flex;
    align-items: center;
    flex-direction: row;
    gap:250px;
}

.titulo-total a{
    color:#3F5E94;

}

.ultimas-informações{
    display:flex;
    flex-direction:column;
}

.elementos-informações{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    width: 466px;
    height:44px ;
    border:solid 1px #DCEFF8;
    margin-bottom: 10px;
    
}

.sublinhado{
    text-decoration:line-through;
}

.titulo-inscrições{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

.sessão{
    display: flex;
    flex-direction: row;
    gap:24px;
}

.padrao-quadrados{
    width: 77px;
    height: 81px;
    line-height: 0px; 
    text-align: center; 
    font-family: Montserrat;
}

.branco{
    color:#FFF;
}


.quadrados-porcentagem{
    display: flex;
    flex-direction: row;
}

.azul1{
    background-color: #2E96C9;
}

.azul2{
    background-color:#4FADDB;
}

.azul3{
    background-color: #90CAE9;
}

.azul4{
    background-color: #E4F1FA;
}


.nome-usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.degrade{
    width: 466px;
    height: 43px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, grey 77.9%);

}

.texto-preto{
    color:#1A1C20;
}

.padrao-quadrados p{
    margin-top:0;
}

.padrao-quadrados h4{
    margin-top: 30px;
}

.quadrado-funções svg{
    padding-top:20px;
}

.elementos-row{
    display: flex;
    flex-direction: row;
    gap:16px;
}

.nome-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.outros{
    line-height: 0;
    display: flex;
    flex-direction: row;
    gap:6px;
}

.nome-row img{
    padding-right: 6px;
}

.container3{
    width:350px;
    display: inline-flex;
    height: 1101px;
    padding: var(--spacing-spacing-xl, 48px) var(--spacing-spacing-md, 24px) var(--spacing-spacing-lg, 32px) var(--spacing-spacing-md, 24px);
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    background-color: #F2F9FD;
}

.titulo-pendencias h3{
    color: #0F3679;
    font-family: Roboto;
    
}

.titulo-pendencias p{
    color: #092049;
    font-family: Roboto;
    font-size: 14px;

}

.icone-notificação{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:36px ;
    height: 36px;
    border:none;
    outline:none;
    border-radius:50%;
    background: #E7EBF2;
}

.notificação{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #3F5E94;
    color:#FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sessão-notificações{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    padding:16px;
    border-radius: 6px;
    border: 1px solid #FEFEFE;
    background: #FEFEFE;
    box-shadow: -2px 2px 6px 0px rgba(15, 54, 121, 0.15);
    width:302px;
    height: 68px;
}

.titulo-atividades{
    display: flex;
    padding: 0px 4px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.titulo-atividades h3{
   color: #0F3679;
}

.titulo-atividades a{
    color:#092049;
    text-decoration-line: underline;
}

.conteudo-final h5{
    color:#3F5E94;
}

.conteudo-final p{
    color:#494E57;
}

.cinza{
    color:#797D84;
}

.conteudo-final{
    border-radius: 8px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 16px;
    width: 302px;
    height: 133px;
    padding-bottom: 40px;
   
}

.seta2{
    margin-left: 28px;
    top: 13px;
}

.quadrado-funções p{
    color:#2E96C9;
    font-family: Inter;

}

.bloco-azul svg:active path {
    stroke:white;

}

.bloco-azul svg{
    margin-top: 10px;
    margin-left: 10px;
}

.quadrado-funções svg:hover path{
    stroke:white;
}

.quadrado-funções:hover {
    background-color: #2E96C9;
}

.quadrado-funções p:hover{
    color:#fff;
}

.quadrado-funções svg + .quadrado-funções p:hover path{
    stroke:white;
    color:white;
}

.conteudo-final:hover{
    background-color: #E3F4FE;;
}