body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
    width: 1440px;
    height: 3135px;
}

header {
    background: #C11616;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 100px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
   
}

.risco{
    writing-mode: vertical-lr;
    margin-left: -5px;

}

.texto p{
    width: 787px;
    height: 102px;
    margin-top: 15px;
    color:#707C8C;
    line-height: 33.6px;
    font-size: 21px;
}
.aspas-titulo{
    display: flex;
    flex-direction: row;
    
}

.continue{
    margin-right: 623px;
    flex-direction: row;
    display: flex;
}

.continue p{
    background: linear-gradient(to right, rgba(200, 200, 200, 0.3), rgba(255, 255, 255, 0));
    width: 163px;
    height: 31px;
    
}

.seta{
    margin-top:20px;
}

.principais-categorias{
    margin-right: 650px;
    margin-top:30px;
}

.principais-categorias h2{
    font-size: 26px;
    color: #8D9AA6;

}

.aspas-titulo img{
    margin-top: 8px;
    margin-right: 10px;
    width: 94.91px;
    height: 72.52px;

}

.aspas-titulo h1{
    font-size: 40px;
    color:#273644;
    width: 787px;
    height: 168px;
    line-height: 56px;
}

.fim-inicio{
    display: flex;
    flex-direction: row;
}

.texto-sublinhado {
    text-decoration: underline;
    display: flex;
    gap:15px;
    margin-right: 60px;
}

.pesquisa{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    margin-right: 35px;
}

.pesquisa img{
    width: 18px;
    height: 18px;
}

.logo img{
    margin-left: 60px;
   
}

.sergio{
    margin-left: -35px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.bloco-cinza{
    width: 787px;
    height: 39px;
    background-color: #EFF2F7;
    display:flex;
    
}

.bloco-cinza a{
    color: #EB5151;

}

.bloco-cinza p{
    margin-top: 10px;
    margin-left: 35px;
   
}

.bloco-cinza img{
    width: 32px;
    height: 25px;
    margin-left: 25px;
    margin-top: 9px;

}
.descricao {
    font-size: 16px;
    margin-top: 10px;
}

.categorias {
    margin-top: 15px;
    
}

.categoria {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color:#EB5151;
    padding:8px;
    
}


.link-categorias{
    margin-top:25px;
    margin-left:500px;
}


.fotos, .video-lista, .series-lista {
    display: flex;
    gap: 10px;
}

.fotos{
    display: flex;
}

.foto-inicio{
    display: grid;
    align-items: center;
    gap: 10px;


}

.galeria h2{
    color:#EB5151;
    font-size: 26px;
}

.ultimos-posts{
    display: flex;
    justify-content: center;
}

.ultima-publicação{
    display: flex;
    flex-direction: row;
}

.serie{
    border-width: 1px;
    border-style: solid;
    border-color:#EB5151;
    border-radius: 5px;
    width: 280px;
    height: 260px;
    display: flex;
    flex-direction: column;
    padding:25px;
    
}

.numero-publicações{
    display:flex;
    flex-direction: row;
}

.serie h3 b{
    font-size: 18px;
}

.ultima-publicação b{
    margin-top:18px;
    color:#C11616
}

.series-lista{
    color:#EB5151
}

.serie h3{
    color:#C11616;
}

.final-link{
    display: flex;
    flex-direction: row;
    gap:1065px;
    margin-top:40px;
}

.final-link img{
    width: 49.5px;
    height: 14px;
}

.cinza{
    color: #8D9AA6;
}

.footer{
    background: #F9FAFC;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
    margin-top:80px;
    padding:20px;
}

.informações{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 30px;
    margin-top:-180px;
    color:#3C4B58;
}

.informações a{
    color:#3C4B58
}

.container-ultimo{
    color:#C11616;
}

.imagem-final{
    color:#EFF2F7;
    width: 1447px;
    height: 52px;
}

.imagem-final img{
    display: flex;
    align-items: center;
}
